@import "bootstrap-sprockets";
@import "bootstrap";
@import "movies";
@import "reviews";
@import "sessions";
@import "users";

.background-color{
  background-color: rgba(200, 187, 173, .6);
}

hr {
  background:url(hr-img.png) no-repeat top center;
  height:42px;
  border:none !important;
}

h1 {
  text-align: center;
  font-size: 45px;
  padding-bottom: 10px;
  background: -webkit-linear-gradient(#ffa439, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1:hover{
  transition-duration: 1s;
  text-align: center;
  font-size: 45px;
  padding-bottom: 10px;
  background: -webkit-linear-gradient(#333, #ffa439);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inside-color{
  background-color: white;
  box-shadow: 0 0 10px #000;
}

.footer-color{
  padding:-10px;
  background-color: white;
  box-shadow: 0 0 10px #000;
  border-radius: none;
}

.col-centered{
  float:none;
  margin: 0 auto;
}
