@import "bootstrap-sprockets";
@import "bootstrap";
@import "movies";
@import "reviews";
@import "sessions";
@import "users";

.background-color{
  background-color: rgba(242, 251, 244, .6);
}

hr {
    margin: 20px 0px 20px 0px;   
    height: 50px;    
    background-image: url('mago.png');
    background-size: auto 50px;
    background-repeat: repeat-x;
    overflow:hidden;
    border-style: hidden;
}

h1 {
  text-align: center;
  font-size: 45px;
  padding-bottom: 10px;
  background: -webkit-linear-gradient( #ffa439, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.inside-color{
  background-color: white;
  box-shadow: 0 0 10px #000;
}

.col-centered{
  float:none;
  margin: 0 auto;
}
