<h1>Admin::Users#index</h1>
<p>Find me in app/views/admin/users/index.html.erb</p>
<%= paginate @users %>
<% @users.each do |user| %>
  <h2><%= link_to user.full_name, admin_user_path(user) %></h2>
  <% end %>